body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
  }

#slide {
    margin: auto;
    float: right;
    width: 72%;
    height: 100%;
    padding-top: 1%;
    border: 1px solid black;
}

.vizheader{
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.vizdetails{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

#vizcontent{
    margin: auto;
    height: 500px;
}

#info {
    margin: auto;
    width: 25%;
    float: left;
    height: 100%;
    padding-left: 1%;
    padding-top: 1%;
    border: 1px solid black;
}

#vizcontent a {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;  
    padding: 2px;
}
svg {
    padding-left: 1%;
    padding-right: 1%;
}

.tooltip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
  }

  .tooltip table{
    width: 100%;
  }

  .tooltip table tr td{
    width: "50%";
  }

  .chartheader{
      text-align: center;
  }

  .slideparam{
    visibility: hidden;
  }

  .xlabel{
    text-align: center;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .ylabel{
    text-anchor: middle;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  .chartheader{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }