body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
  }

#slide {
    margin: auto;
    float: right;
    width: 72%;
    height: 100%;
    padding-top: 1%;
    border: 1px solid black;
}

.vizheader{
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.vizdetails{
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  text-justify: auto;
}

#vizcontent{
    margin: auto;
    height: 500px;
}

#info {
    margin: auto;
    width: 25%;
    float: left;
    height: 100%;
    padding-left: 1%;
    padding-top: 1%;
    border: 1px solid black;
}

#slideidx{
  text-align: center;
  padding: 2%;
}

#vizcontent a {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #e6e6ff;  
    padding: 3px;
    color: black;
    text-decoration:none;
    border-radius: 3px;
}

#vizcontent a:hover {
  background-color: #9f34eb;
  color: white;
}

svg {
    padding-left: 1%;
    padding-right: 1%;
}

.tooltip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 2px solid #9f34eb;
    border-radius: 10px;
    border-style: ridge;
    padding: 14px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
  }

  .tooltip table{
    width: 100%;
  }

  .tooltip table tr td{
    width: "50%";
  }

  .slideparam{
    visibility: hidden;
  }

  .xlabel{
    text-align: center;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .ylabel{
    text-anchor: middle;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  .chartheader{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .annotation{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    height: 100px;
    word-wrap: normal;
    border: 2px solid #9f34eb;
    background: none repeat scroll 0 0 #ffffff;
    position: relative;
  }

  .daywise{
    font-size: smaller;
  }

  .noraintext{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .raintext{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .legendtext{
    text-align: center;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .chart-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    padding: 1.5%;
    text-justify: auto;
  }